/*!
Theme Name: Foundation Base for Thematic
Theme URI: https://github.com/petskratt/foundation-base/
Description: A child theme for Thematic based on Foundation 3.2.4 framework by ZURB and Responsive Base by Scott Nix. Works rather nicely with Theme Unit Test but needs some tuning + support for Orbit and Reveal modules. Main menu is supported with 1 sub-level (Foundation limit).
Author: Tauno Poks (integration) & Fraktal(design)
Author URI: http://newton.ee
Template: thematic
Version: 0.9
Tags: flexible-width, two-columns, left-sidebar, translation-ready
*/

// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "_respond-to-not";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";


/* import Thematic-specific SCSS (from Responsive Base) */

@import "_thematic";

/* use Foundation mixins on Thematic IDs/classes to produce desired layout */

// myOuterRow() works with nested .row-s

html, body { margin: 0; padding: 0;}
body {
  font: 16px/1.5 'Proxima', Helvetica, Arial, sans-serif;
  color: #120707;
  text-align: center;
  background: #ffffff;
}

#front { font-size: 18px; }

a { text-decoration: none; color: #8dc63f; }
a:hover { color: #b4d889; }

.cfx:after, .list li:after { content: "."; display: block;height: 0;clear: both;font-size: 1px;line-height: 1px;visibility: hidden;}
.cfx, .list li { zoom:1; min-height: 10px;}

img { border: none;}
form { margin: 0; padding: 0; }
h1, h2, h3 {
  margin: 0; padding: 0; color: #333333;
  font: normal 44px/1 'Nexa Light', Helvetica, Arial, sans-serif;
}
h1 { margin-bottom: 20px; text-align: center }
#front h1, #front h2, #front h3 { color: #8dc63f; margin-top: 0; }
#front h2 { font-size: 40px; }

h2 { font-size: 33px; line-height: 1.2; margin-bottom: 15px; margin-top: 1.2em; } 
h3 { font-size: 26px; line-height: 1.2; margin-bottom: 15px; margin-top: 1.5em; }
p { padding: 0; }
p:first-child { margin: 0; }
ul, ol { margin: 0; padding: 10px 0 10px 61px; }

ul li, ol li { margin: 0; padding: 8px 0 8px 0; }
ul { list-style-type: none; padding-left: 36px; }
ul li { padding-left: 15px;  }
li {list-style: none;}
#content ol {list-style-type: decimal !important;}
#content ol li {list-style-type: decimal !important;}

blockquote {
margin: 0 0 17px;
padding: 9px 20px 0 19px;
border-left: 1px solid #ddd;
}

blockquote, blockquote p {
line-height: 1.5;
color: #6f6f6f;
}

/* wrap */
  .wrap { width: 1086px; padding: 0 20px; text-align: left; margin: 0 auto; position: relative; }
  .wrap-thin { width: 718px; }
  .wrap-narrow { width: 588px; }
  
/* btn */
  .btn, #submit {
    display: inline-block; outline: 0; height: 64px; padding: 0 25px; text-align: center;
    border: none; margin: 0; color: #ffffff; text-transform: uppercase; vertical-align: middle;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    -webkit-border-radius: 10px; border-radius: 10px; cursor: pointer;
    background: #5a9516;
    background: -moz-linear-gradient(top,  #78af1e 0%, #5a9516 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78af1e), color-stop(100%,#5a9516));
    background: -webkit-linear-gradient(top,  #78af1e 0%,#5a9516 100%);
    background: -o-linear-gradient(top,  #78af1e 0%,#5a9516 100%);
    background: -ms-linear-gradient(top,  #78af1e 0%,#5a9516 100%);
    background: linear-gradient(to bottom,  #78af1e 0%,#5a9516 100%);
    font-size: 18px; 
    font-family: 'Nexa Black', Helvetica, Arial, sans-serif;
  }
  .btn:hover, #submit:hover { 
    color: white;
    background: #78af1e;
    background: -moz-linear-gradient(top,  #78af1e 0%, #73a819 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78af1e), color-stop(100%,#73a819));
    background: -webkit-linear-gradient(top,  #78af1e 0%,#73a819 100%);
    background: -o-linear-gradient(top,  #78af1e 0%,#73a819 100%);
    background: -ms-linear-gradient(top,  #78af1e 0%,#73a819 100%);
    background: linear-gradient(to bottom,  #78af1e 0%,#73a819 100%);
    
  }
  a.btn { padding-top: 20px;}
  .btn-260 { width: 260px; }
  
  .btn-google { 
    display: inline-block; height: 30px; width: 30px; vertical-align: middle;
    background: url('images/ico_google.png') no-repeat center center; 
  }
  .btn-toggl { 
    display: inline-block; height: 30px; width: 30px; vertical-align: middle;
    background: url('images/ico_toggl.png') no-repeat center center; 
  }
  

#header {
	background: #2e3130 url('images/header_bg.jpg') no-repeat center top;
	width: 100%;
	display: table;
	.title { 
    text-align: center; color: white; padding-top: 134px;
    font-family: 'Nexa Black', Helvetica, Arial, sans-serif;
		h1 { 
		  color: white; font-size: 100px; line-height: 0.9; margin: 0;
		  font-family: 'Nexa Black', Helvetica, Arial, sans-serif;
		}
	}
}

/* logo */
  #logo { 
    width: 193px; height: 34px; background: url('images/logo.png') no-repeat 0 0;
    position: absolute; top: 53px; left: 20px;
  }
  
.menu {
	list-style-type: none;
	position: absolute;
	top: 64px;
	right: 20px;
	ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0 14px 5px 14px;
			display: inline-block;
			position: relative;
			a {
				font-size: 14px; text-transform: uppercase; color: #858585;
				&:hover {color: white;}
				&.active { color: white; }
			}
			&.signin {
				a { color: #8cc63f; }
			}
		}
	}
}

#main {
	width: 1126px;
	margin: 0 auto;
}
#container {
	width: 718px;
	margin: 0 auto;
}

.holder {
	width: 1126px;
	margin: 0 auto;
}

#content {padding: 25px 0;}

.entry-content {text-align: left;}

.blog {
	.post {
		padding: 35px 65px;
		border-top: 1px solid #d9d9d9;
		&:first-child {
			border-top: none;
		}
		h2 {
		text-align: center;
		margin: 0;
			a {color: #333333;}
		}
	}
}

.type-page { padding: 35px 65px;}

.related-posts {
	display: inline-block;
	width: 328px;
	float: left;
	text-align: left;
	h2 {font-size: 26px;}
	li { 
		h2 {margin-top: 0px;}
	}
}
.first-related {
	border-right: 1px solid #e6e6e6;
	padding-right: 30px;
	li {		h2 {margin-top: 0px;}}
	li div{
		ul {
			padding-left: 0px;
			padding: 0px;
			li {
				margin: 0;
				padding: 5px 0;
				line-height: 1.2;
				a {color: #68A318;}
			}
		}
	}
}
.second-related {border-left: 1px solid #e6e6e6;position: relative; left: -1px;		padding-left: 30px;
	li {		h2 {margin-top: 0px;}}
		li {
		ul {
			padding: 0px;
			padding-left: 0px;
			li {
				margin: 0;
				padding: 5px 0;
				line-height: 1.2;
				a {color: #68A318;}
			}
		}
	}
}

#comments {
	width: 718px;
	margin: 0 auto;
	margin-top: 17px;
}

.comment-note {display: none;}
#comments {
	padding-top: 0px;
	width: 588px;
	.accordion {
	border: none;
	padding-top: 17px;
		li {
		border: none;
		cursor: pointer;
		padding: 23px 0;
		padding-top: 0px;
		&.active {
			padding: 0 0 23px;
			.content {
				border: none;
				padding: 0;
				overflow: visible !important;
			}
			.title {
					h3 {
						margin-bottom: 20px;
						cursor: pointer;
						&:after {background: url('images/toggle_arrows_green_upwards.png') no-repeat center 0px;
						}
					}
				}
		}
			.title {
				background: none;
				border: none;	
				padding: 0;
				&:after {
					border: none;
				}
				h3 {
				border: none;
				&:after {
					display: inline-block;
					margin-left: 12px;
					vertical-align: 5px;
					height: 7px;
					width: 10px;
					content: "";
					background: url('images/toggle_arrows_green.png') no-repeat center 0px;
					}	
				}			
			}
		}
	}
	.comment-content {
		p {
			margin: 0;
		}
	}
}
.comment-form-author input{
	border: 1px solid #cccccc;
	padding: 10px 14px;
	outline: 0;
	color: #898989;
	background: white;
	font-size: 16px;
	width: 558px;
	font-family: 'Proxima', Helvetica, Arial, sans-serif;
}

.comment-form-author {margin-bottom: 0px;}

.form-textarea textarea {
	border: 1px solid #cccccc;
	padding: 10px 14px;
	outline: 0;
	color: #898989;
	background: white;
	font-size: 16px;
	width: 558px;
	resize: none;
	margin: 20px 0;
	font-family: 'Proxima', Helvetica, Arial, sans-serif;
}

#comments-list {
	margin-left: 0px !important;
	li {
	background: none;
	padding: 0px;
	border-bottom: 1px solid #d9d9d9 !important;
	&.byuser {	border-bottom: 1px solid #a4ba82 !important;
		.comment-author {
			padding-top: 0px;
		}
	}
	&:first-child {
		border-top: 1px solid #d9d9d9 !important;	
		}
	}
}
#comments-list li.bypostauthor, .byuser {
	border: 1px solid #a4ba82 !important;
	margin-top: -1px !important;
	background: #e4f4d4 !important;
	margin-left: -18px !important;
	margin-right: -18px !important;
	padding: 19px !important;
}

#comments-list {
	text-align: left;
	.comment-author {
		padding-left: 0px;
		display: inline-block;
		padding-top: 23px;
		margin-bottom: 13px;
		.fn {
			color: black;
			a {color: black;}
		}
	}	
	.comment-meta {
		padding-left: 0px;
		display: inline-block;
		font-size: 13px;
		color: #9a9a9a;
		a {
			display: none;
		}
	}
	.unapproved{
		display: block;
	}
	.comment-reply-link {
		display: none;
	}
	.meta-sep{
		display: none;
	}
	.border-bottom-none {
	padding-bottom: 0px !important;
	border-bottom: none !important;
	.children {margin-top: 23px !important;li{margin-bottom: 0px !important;}}
}
}

#comments-list .thread-odd {
	background: none;
}

#form-allowed-tags {
	display: none;
}

.form-submit {
	text-align: left;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	#submit {
			font-size: 14px;
		height: 54px;
	}
}
#respond {text-align: left; h3 {display: none;}}
.comment-notes {display: none;}
#comments-nav-below {display: none;}

.meta-nav {display: none;}

.more-link {
	&:after {
		content: "›";
		font-size: 21px;
		line-height: inherit;
		position: relative;
		left: 1px;
		top: 2px;
	}
}

.social-icons {
	border-top: 1px solid #d9d9d9;
	padding-top: 25px;
	padding-bottom: 35px;
	padding-left: 0px;
}
.s-icon {margin-right: 10px; float: left;}

.vcard {
	color: #9a9a9a;
	font-size: 16px;
	text-align: center;
	padding-bottom: 30px;
	p {
	display: inline-block;
	color: #9a9a9a !important;
	}
}

.entry-meta abbr, .meta-sep-entry-date, .meta-prep-entry-date {
	color: #9a9a9a !important;
	font-size: 16px !important;
	text-transform: capitalize;
}

.meta-prep-entry-date {text-transform: none;}

.post-below-content {margin: 0 auto;padding-bottom: 25px;}

// accordion 

/* Accordion ---------------------- */
/* line 100, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion {
  margin: 0 0 22px 0;
  border-bottom: 1px solid #e9e9e9;
}
/* line 102, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e9e9e9;
}
/* line 104, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li > div.title {
  cursor: pointer;
  background: #f6f6f6;
  padding: 15px;
  margin: 0;
  position: relative;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  -webkit-transition: 0.15s background linear;
  -moz-transition: 0.15s background linear;
  -o-transition: 0.15s background linear;
  transition: 0.15s background linear;
}
/* line 106, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li > div.title h1, ul.accordion > li > div.title h2, ul.accordion > li > div.title h3, ul.accordion > li > div.title h4, ul.accordion > li > div.title h5 {
  margin: 0;
}
/* line 107, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li > div.title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent #9d9d9d transparent transparent;
  position: absolute;
  right: 15px;
  top: 21px;
}
/* line 110, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li .content {
  display: none;
  padding: 15px;
}
/* line 112, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active {
  border-top: 3px solid #2ba6cb;
}
/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active .title {
  background: white;
  padding-top: 13px;
}
/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active .title:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: #9d9d9d transparent transparent transparent;
}
/* line 118, ../../../../../../Library/Ruby/Gems/1.8/gems/zurb-foundation-3.2.2/scss/foundation/components/modules/_ui.scss */
ul.accordion > li.active .content {
  background: white;
  display: block;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

//custom accordion

.accordion .title h2 {cursor: pointer;}

.archive-posts {
	border: none !important;
	border-top: 1px solid #e2e2e1 !important;
	padding: 35px 65px;		
	text-align: left !important;
	margin-bottom: 0px !important;
	li {
	border: none !important; 
	list-style: none !important;
		.date {
			font-size: 12px;
			color: #9a9a9a;
			width: 60px;
			display: inline-block;
		}
		.title {
			background: none !important;
			border: none !important;	
			padding: 0 !important;
			&:after {
				border: none  !important;
			}
			h3{
			border: none !important;
			display: inline-block;
			position: relative;
			padding-right: 24px;
			cursor: pointer;
			padding-bottom: 0;
			margin: 0;
			&:after {
				display: block;
				height: 7px;
				width: 10px;
				position: absolute;
				top: 12px;
				right: 0;
				content: "";
				background: url('images/toggle_arrows_green.png') no-repeat center 0px;
				}	
			}			
		}
		a {color: #120707;}
		&.active {
			padding-bottom: 5px !important;
			border: none !important;
			.content {
				border: none !important;
				padding: 0 !important;
				overflow: visible !important;
				ul {
					margin: 0;
					padding: 0;
					padding-top: 15px;
					li {
						margin: 0;
						padding: 5px 0;
						line-height: 1.2;
					}
				}
			}
			.title {
					h3 {
						display: inline-block;
						position: relative;
						padding-right: 24px;
						cursor: pointer;
						padding-bottom: 0;
						margin: 0;
						&:after {background-position: center 0px; }
						.show-on-close {display: none !important;}
						&:after {
							background: url('images/toggle_arrows_green_upwards.png') no-repeat center 0px;
						}
					}
			}
			ul {margin-left: 0px;}
		}
	}
}

#searchbox {
	padding-bottom: 25px;
	.search {
	 	margin: 0 auto; padding: 0 45px 0 15px;
	    height: 45px; width: 310px; border: 1px solid #cccccc; 
	    overflow: hidden; position: relative;
		input {
	      margin: 0; padding: 15px 0; outline: 0; background: none; border: none;
	      font-size: 1em; width: 100%; color: #898989;
	      font-family: 'Proxima', Helvetica, Arial, sans-serif;
			&:focus{border: none !important; background: none !important; outline: none !important;}
		}
		#searchsubmit {
			border: none;
			outline: 0;
			margin: 0;
			display: block;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
			width: 40px;
			background: url('images/search.png') no-repeat center center;
			text-indent: -9999px;
		}
	}
}

/* user-box */
  .user-box { padding: 25px 30px;margin-bottom: 35px; margin-top: 55px; }
    .user-box-image { 
      float: left; width: 120px; height: 120px; overflow: hidden; 
      -webkit-border-radius: 120px; border-radius: 120px;
    }
      .user-box-image img { display: block; width: 120px; }
    .user-box-content { float: left; padding: 5px 0 0 30px; width: 508px; text-align: left;}
    .user-box-content h3 { margin: 0; text-align: left;}
      .user-box .role { font-size: 13px; color: #a1a1a1; text-transform: uppercase; padding: 3px 0 10px; }

/* sign-in-popup */
  .sign-in-popup { 
    display: none; z-index: 10005;position: absolute; top: 0; left: 0; width: 100%;
  }
  .sign-in-popup h2 { font-size:30px !important; }
    
  .sign-in-container {
    position: absolute; top: 64px; right: 20px; 
    
  }
  .sign-in-header {
    padding: 0 14px 5px 14px; text-align: right; border-bottom: 10px solid #6fa71b;
    font-size: 14px; text-transform: uppercase; color: #8cc63f; display: inline-block;
  }
  .sign-in-content {
    width: 400px; background: white; position: absolute; top: 38px; right: 0; 
    font-size: 16px !important;
  }
  .sign-in-form .btn { font-size: 18px; height: 64px; width: 208px }
  
  .sign-in-form .text-input { 
    border: 1px solid #e5e5e5; background: #f7f7f7; padding: 15px 15px;
    color: #898989; display: block; margin: 0;
    font-size: 16px; width: 318px; font-family: 'Proxima', Helvetica, Arial, sans-serif;
  }
  
  .forgot-part { display: none; }
  
/* modal */
  .modal {
    background: url('images/overlay_85.png') repeat;
    background: rgba(26,28,24,0.85);
    height: 100%;
    left:0;
    overflow: auto;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10002;
  }
    .modal-iframe {
      position: fixed; width: 100%; height: 100%;
      background: black;
      opacity:0; filter: alpha(opacity=0);-ms-filter:"alpha(opacity=0)";
    }
    
    .modal-dialog {
      height: 100%;
      left:0;
      overflow: auto;
      position: fixed;
      top:0;
      width: 100%;
    }
  




/* gray-box */
  .gray-box { background: #f7f7f7; }

/* extra-info */
  .extra-info {
    padding: 35px 0px; font-size: 40px; color: #68a318; width: 100%; display: table;
    font-family: 'Nexa Book', Helvetica, Arial, sans-serif;
  }

.blog-social-links {
	margin-bottom: 25px;
}
.single {
	.blog-social-links {
		margin-bottom: 0px;
	}
	#container {margin-bottom: 35px;}
	#content {
	padding: 25px 0;
	padding-top: 60px;
	width: 588px;
	margin: 0 auto;
	}
	.post-below-content {padding-bottom: 15px;}
	h1 {
		font-size: 33px;
		margin-bottom: 0px;
		line-height: 1.2;
	}
	.entry-meta {
		margin-bottom: 26px;
	}
}
.page {
	.blog-social-links {
		margin-bottom: 0px;
	}	
}
.home {
	.blog-social-links {
		margin-bottom: 0px;
	}	
}

#content {
	li {
	list-style: inside;
	}
}  

#footer {padding:5px 0px 25px 0px; border-top: 1px solid #f2f2f2;}

#footer .wrap {
	padding: 30px 0;
	color: #858585;
	font-size: 16px;
}
.footer-menu {
	margin: 0;
	padding: 0 13px;
	list-style-type: none;
	display: inline;
	li{
	margin: 0;
	padding: 0 13px;
	display: inline;
	}
}

#subsidiary #first .xoxo {padding: 0; li {margin: 0;padding: 0 13px;} .widget_text {padding-left: 0px;}}
#subsidiary #third .xoxo {padding: 0;li {margin: 0;padding: 0; }.widget_text {padding-left: 0px;}}
#first {
	width: 800px; float: left; line-height: 1;
	p {float: left;}
}
#third {width: 200px; float: right; line-height: 1; text-align: right;}

#footer .toggl-link { 
  color: #e41313; vertical-align: top; display: inline-block; padding-bottom: 4px;
  background: url('images/link_undeline.png') no-repeat center bottom;
}

/* link */
  .link { font-size: 13px; text-transform: uppercase; color: #7a7a7a; padding: 0 10px; height: 20px; line-height: 20px;  }
  .link:hover { color: #7a7a7a; }
    .link-twitter { display: inline-block; background: url('images/ico_twitter.png') no-repeat 5px center; padding-left: 40px; }
    .link-fb { display: inline-block; background: url('images/ico_facebook.png') no-repeat 10px center; padding-left: 40px; }
    .link-rss { display: inline-block; background: url('images/ico_rss.png') no-repeat 10px center; padding-left: 40px;  }


.thin-border {
	width: 100%;
	height: 1px;
	background: #e6e6e6;
	margin-top: 40px;
	margin-bottom: 20px;
	float: left;
}

/* paddings */
  .pad-0-0-10 { padding: 0 0 10px; }
  .pad-0-0-25 { padding: 0 0 25px 0; }
  .pad-10-0-0 { padding: 10px 0 0; }
  .pad-10-0 { padding: 10px 0; }
  .pad-15-0-0 { padding: 15px 0 0; }
  .pad-20 { padding: 20px; }
  .pad-25 { padding: 25px; }
  .pad-25-0 { padding: 25px 0; }
  .pad-25-0-0 { padding: 25px 0 0; }
  .pad-30 { padding: 30px; }
  .pad-35-0 { padding: 35px 0; }
  .pad-40-0-0 { padding: 40px 0 0; }
  .pad-50-0 { padding: 50px 0; }
  .pad-50-0-0 { padding: 50px 0 0; }
  .pad-50-0-25 { padding: 50px 0 25px; }
  .mar-0 { margin: 0; }
