
html, body { margin: 0; padding: 0;}
body {
  font: 16px/1.5 'Proxima', Helvetica, Arial, sans-serif;
  color: #120707;
  text-align: center;
  background: #ffffff;
  min-width: 1126px;
}

#front { font-size: 18px; }

a { text-decoration: none; color: #8dc63f; }
a:hover { color: #b4d889; }

.cfx:after, .list li:after { content: "."; display: block;height: 0;clear: both;font-size: 1px;line-height: 1px;visibility: hidden;}
.cfx, .list li { zoom:1; min-height: 10px;}

img { border: none;}
form { margin: 0; padding: 0; }
h1, h2, h3 {
  margin: 0; padding: 0; color: #333333;
  font: normal 44px/1 'Nexa Light', Helvetica, Arial, sans-serif;
}
h1 { margin-bottom: 20px; text-align: center }
#front h1, #front h2, #front h3 { color: #8dc63f; margin-top: 0; }
#front h2 { font-size: 40px; }

h2 { font-size: 33px; line-height: 1.2; margin-bottom: 15px; margin-top: 1.2em; } 
h3 { font-size: 26px; line-height: 1.2; margin-bottom: 15px; margin-top: 1.5em; }
p { padding: 0; margin: 15px 0 0; }
p:first-child { margin: 0; }
ul, ol { margin: 0; padding: 10px 0 10px 61px; }

ul li, ol li { margin: 0; padding: 8px 0 8px 0; }
ul { list-style-type: none; padding-left: 36px; }
ul li { padding-left: 15px;  }


.content ul li { background: url('../images/list.gif') no-repeat 0 16px; padding-left: 25px; }

.bg-white { background: white; }

.align-center { text-align: center; }

.float-left { float: left; }
.float-right { float: right; }

/* btn */
  .btn {
    display: inline-block; outline: 0; height: 64px; padding: 0 25px; text-align: center;
    border: none; margin: 0; color: #ffffff; text-transform: uppercase; vertical-align: middle;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    -webkit-border-radius: 10px; border-radius: 10px; cursor: pointer;
    background: #5a9516;
    background: -moz-linear-gradient(top,  #78af1e 0%, #5a9516 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78af1e), color-stop(100%,#5a9516));
    background: -webkit-linear-gradient(top,  #78af1e 0%,#5a9516 100%);
    background: -o-linear-gradient(top,  #78af1e 0%,#5a9516 100%);
    background: -ms-linear-gradient(top,  #78af1e 0%,#5a9516 100%);
    background: linear-gradient(to bottom,  #78af1e 0%,#5a9516 100%);
    font-size: 18px; 
    font-family: 'Nexa Black', Helvetica, Arial, sans-serif;
  }
  .btn:hover { 
    color: white;
    background: #78af1e;
    background: -moz-linear-gradient(top,  #78af1e 0%, #73a819 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78af1e), color-stop(100%,#73a819));
    background: -webkit-linear-gradient(top,  #78af1e 0%,#73a819 100%);
    background: -o-linear-gradient(top,  #78af1e 0%,#73a819 100%);
    background: -ms-linear-gradient(top,  #78af1e 0%,#73a819 100%);
    background: linear-gradient(to bottom,  #78af1e 0%,#73a819 100%);
    
  }
  a.btn { padding-top: 20px;}
  .btn-260 { width: 260px; }
  
  .btn-google { 
    display: inline-block; height: 30px; width: 30px; vertical-align: middle;
    background: url('../images/ico_google.png') no-repeat center center; 
  }
  .btn-toggl { 
    display: inline-block; height: 30px; width: 30px; vertical-align: middle;
    background: url('../images/ico_toggl.png') no-repeat center center; 
  }
  
/* wrap */
  .wrap { width: 1086px; padding: 0 20px; text-align: left; margin: 0 auto; position: relative; }
  .wrap-thin { width: 718px; }
  .wrap-narrow { width: 588px; }


/* header */
  #header { background: #2e3130 url('../images/header_bg.jpg') no-repeat center top; }
  #front #header { background-image: url('../images/header_front_bg.jpg'); }
  @media only screen and (min-width : 1600px) {
    #header { background-size: cover; }
  }
  
  #header .wrap { min-height: 142px; }
  #front #header .wrap { height: 818px; }
  
  #header .title { 
    text-align: center; color: white; padding-top: 134px; font-size: 22px;
    /*font-family: 'Nexa Black', Helvetica, Arial, sans-serif;*/
  }
  #front #header .title { padding-top: 180px; }
    #header h1 { 
      color: white; font-size: 100px; line-height: 0.9; margin: 0;
      font-family: 'Nexa Black', Helvetica, Arial, sans-serif;
      letter-spacing: -5px;
    }
    
  #front #header h1 { font-size: 135px;}
  #front #header h2 { color: #8dc63f; font-size: 70px; margin: 0; }

  #header .preview { 
    width: 1088px; height: 405px; 
    position: absolute; top: 710px; left: 50%; margin-left: -544px;
    background: url('../images/front_ipad.png') no-repeat 0 0;
  }
  
  #header .btn { height: 75px; width: 300px; font-size: 22px; padding-top: 25px; }
    
/* logo */
  #logo { 
    width: 193px; height: 34px; background: url('../images/logo.png') no-repeat 0 0;
    position: absolute; top: 53px; left: 20px;
  }
  
/* mainmenu */
  #mainmenu { 
    margin: 0; padding: 0; list-style-type: none;
    position: absolute; top: 64px; right: 20px; 
  }
    #mainmenu li { 
      margin: 0; padding: 0 14px 5px 14px; display: inline-block; 
      position: relative;
    }
    
      #mainmenu a { font-size: 14px; text-transform: uppercase; color: #858585; }
      #mainmenu a:hover { color: white; }
      #mainmenu a.active { color: white; }
      #mainmenu a.signin { color: #8cc63f; }

/* sign-in-popup */
  .sign-in-popup { 
    display: none; z-index: 10005;position: absolute; top: 0; left: 0; width: 100%;
  }
  .sign-in-popup h2 { font-size:30px !important; }
    
  .sign-in-container {
    position: absolute; top: 64px; right: 20px; 
    
  }
  .sign-in-header {
    padding: 0 14px 5px 14px; text-align: right; border-bottom: 10px solid #6fa71b;
    font-size: 14px; text-transform: uppercase; color: #8cc63f; display: inline-block;
  }
  .sign-in-content {
    width: 400px; background: white; position: absolute; top: 38px; right: 0; 
    font-size: 16px !important;
  }
  .sign-in-form .btn { font-size: 18px; height: 64px; width: 208px }
  
  .sign-in-form .text-input { 
    border: 1px solid #e5e5e5; background: #f7f7f7; padding: 15px 15px;
    color: #898989; display: block; margin: 0;
    font-size: 16px; width: 318px; font-family: 'Proxima', Helvetica, Arial, sans-serif;
  }
  
  .forgot-part { display: none; }
  

/* container */
  #container {}

/* preview-bottom */
  .preview-bottom { padding: 350px 0 70px; text-align: center;}

/* first-content */
  .first-content { 
    background: #4e8010 url('../images/first_content.jpg') no-repeat center top; 
    color: white;
  }
  
  @media only screen and (min-width : 1600px) {
    .first-content { background-size: cover; }
  }
    .first-content .wrap { height: 669px; }
    
    .first-content h1, .first-content h2, .first-content h3 {
      color: white !important;
    }
    
  .first-content .inner { padding: 190px 0 0; width: 440px; }
  .first-content.loaded .inner { opacity: 1; }
  
  .first-content .inner .text, .second-content .inner .text { opacity: 0.01; }
  .first-content .inner .text.loaded, .second-content .inner .text.loaded { 
    opacity: 1; 
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
  }
  
/* second-content */ 

  .second-content { }
    .second-content .wrap { min-height: 555px; }
  
  .second-content .inner { padding: 120px 0 0 623px; }
  .second-content .devices { 
    width: 593px; height: 522px; background: url('../images/front_devices.png') no-repeat 0 0; 
    position: absolute; top: -10px; left: -20px;
  }
  
    
/* article */
  .article { padding: 35px 65px; border-top: 1px solid #d9d9d9; }
  .article:first-child { border-top: none; }
    .article h2 { text-align: center; margin: 0;}
    .article-info { color: #9a9a9a; font-size: 16px; text-align: center; padding-bottom: 30px; }
    
    .article-excerpt { padding-bottom: 1em; }
    .article-body { padding-bottom: 1em; }
    .article-action { border-top: 1px solid #d9d9d9; padding-top: 1em; }
  
/* gray-box */
  .gray-box { background: #f7f7f7; }

/* extra-info */
  .extra-info {
    padding: 35px 20px; font-size: 40px; color: #68a318;
    font-family: 'Nexa Book', Helvetica, Arial, sans-serif;
  }
    
/* user-box */
  .user-box { padding: 25px 30px; }
    .user-box-image { 
      float: left; width: 120px; height: 120px; overflow: hidden; 
      -webkit-border-radius: 120px; border-radius: 120px;
    }
      .user-box-image img { display: block; }
    .user-box-content { float: left; padding: 5px 0 0 30px; width: 508px; }
    .user-box-content h3 { margin: 0; }
      .user-box .role { font-size: 13px; color: #a1a1a1; text-transform: uppercase; padding: 3px 0 10px; }

/* list */

  .list { margin: 0; padding: 0; list-style-type: none; }
    .list li { margin: 0; padding: 5px 0; line-height: 1.2 }
      .list .date { float: left; font-size: 12px; color: #9a9a9a; width: 60px; }
      .list .name { float: left; width: 528px; }
        .list a { color: #120707; }
        .list a:hover { color: #797676; }
    

/* archive */
  .archive {
    border-top: 1px solid #d9d9d9; padding: 35px 65px;
  }
    .archive h3 { 
      display: inline-block; position: relative; padding-right: 24px; cursor: pointer; 
      padding-bottom: 0; margin: 0;
    }
      .archive h3:after { 
        display: block; height: 7px; width: 10px; position: absolute;
        top: 12px; right: 0; content: "";
        background: url('../images/toggle_arrows.png') center 0;
      }
      .archive.accordion-closed h3:after { background-position: center -13px; }
      
    .archive .list { padding-top: 15px; }
    .archive.accordion-closed .list { display: none; }

/* two-columns */
  .two-columns {
  }
  
  .two-columns h3 { margin-top: 0; }
    .two-columns .col { 
      float: left; width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .two-columns .col-1 { padding-right: 30px; } 
    .two-columns .col-2 { padding-left: 30px; }
    .two-columns-border .col-1 { border-right: 1px solid #e6e6e6; }
    .two-columns-border .col-2 { border-left: 1px solid #e6e6e6; margin-left: -1px; }  


/* search */
  .search-holder { text-align: center; }  
  .search {
    margin: 0 auto; padding: 0 45px 0 15px;
    height: 45px; width: 310px; border: 1px solid #cccccc; 
    overflow: hidden; position: relative;
  }
    .search-text { 
      margin: 0; padding: 15px 0; outline: 0; background: none; border: none;
      font-size: 1em; width: 100%; color: #898989;
      font-family: 'Proxima', Helvetica, Arial, sans-serif;
    }
    .search-submit { 
      border: none; outline: 0; margin: 0; display: block; cursor: pointer;
      position: absolute; top: 0; right: 0; height: 45px; width: 40px;
      background: url('../images/search.png') no-repeat center center;
    }

/* comments */
  .comments { padding: 15px 45px 0; }
  .comments h3 { padding: 0 20px 10px; margin: 0; }
  .comments ol { margin: 0; padding: 0; list-style-type: none; }
  
    .comments ol li { margin: 0; padding: 0 20px 23px; }
    .comments ol li.official { border: 1px solid #a4ba82; background: #e4f4d4; padding: 19px; }
  
  .comments .info { border-top: 1px solid #ebebeb; padding-top: 23px; margin-bottom: 13px; }
  .comments .official .info { border-top: none; padding-top: 0;  }
  
  .comments .date { color: #9a9a9a; font-size: 13px;}
    
  .comments p { margin: 0; margin: 13px 0 0; }
  .comments p:first-child { }
  
  .comments-form { padding: 40px 0px 20px; margin: 0 65px; border-bottom: 1px solid #f2f2f2; border-top: 1px solid #f2f2f2; }
    .comments-form h3 { padding: 0 0 10px; margin: 0; }
  
  .comments-form .text-input { 
    border: 1px solid #cccccc; padding: 10px 14px; outline: 0; color: #898989; background: white;
    font-size: 16px; width: 250px; font-family: 'Proxima', Helvetica, Arial, sans-serif;
  }
  
  .comments-form textarea {
     border: 1px solid #cccccc; padding: 10px 14px; outline: 0; color: #898989; background: white;
     font-size: 16px; width: 558px; resize: none; margin: 20px 0;
     font-family: 'Proxima', Helvetica, Arial, sans-serif;
  }
  
  .comments-form .btn { font-size: 14px; height: 54px; }

/* signup-form */
  .signup-form .text-input {
    border: 1px solid #d6d6d6; padding: 10px 14px; outline: 0; color: #898989; background: white;
    font-size: 24px; width: 340px; font-family: 'Proxima', Helvetica, Arial, sans-serif;
  }
  
/* link */
  .link { font-size: 13px; text-transform: uppercase; color: #7a7a7a; padding: 0 10px; height: 20px; line-height: 20px;  }
  .link:hover { color: #7a7a7a; }
    .link-twitter { display: inline-block; background: url('../images/ico_twitter.png') no-repeat 5px center; padding-left: 40px; }
    .link-fb { display: inline-block; background: url('../images/ico_facebook.png') no-repeat 10px center; padding-left: 40px; }
    .link-rss { display: inline-block; background: url('../images/ico_rss.png') no-repeat 10px center; padding-left: 40px;  }

/* about-box */
  .about-box {
    background: #cceba5 url('../images/about_bg.gif') no-repeat center top fixed; overflow: hidden;
    height: 700px; padding-top: 59px;
  }
  .about-box a { color: #8dc63f; }
  .about-box img { display: block; }

/* price-table */
  .price-table { border-collapse: collapse; width: 386px; margin: 0 auto; padding: 0; table-layout: fixed }
    .price-table td { border-bottom: 1px solid #e6e6e6; padding: 15px 0 15px 40px; text-align: left }
    
    .price-table .green { font-size: 24px; font-weight: bold; color: #8dc63f; }
/* footer */
  #footer { border-top: 1px solid #f2f2f2; }
  #footer .wrap {padding: 30px 0; color: #858585; font-size: 16px; }
    #footer ul { margin: 0; padding: 0 13px; list-style-type: none; display: inline; }
      #footer li { margin: 0; padding: 0 13px; display: inline; }
        #footer ul a { color: #8dc63f; }
        #footer ul a:hover { color: #b4d889; }
      
      #footer .footer-right { float: right; }
      
    #footer .toggl-link { 
      color: #e41313; vertical-align: top; display: inline-block; padding-bottom: 4px;
      background: url('../images/link_undeline.png') no-repeat center bottom;
    }
    
/* modal */
  .modal {
    background: url('../images/overlay_85.png') repeat;
    background: rgba(26,28,24,0.85);
    height: 100%;
    left:0;
    overflow: auto;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10002;
  }
    .modal-iframe {
      position: fixed; width: 100%; height: 100%;
      background: black;
      opacity:0; filter: alpha(opacity=0);-ms-filter:"alpha(opacity=0)";
    }
    
    .modal-dialog {
      height: 100%;
      left:0;
      overflow: auto;
      position: fixed;
      top:0;
      width: 100%;
    }
  
/* paddings */
  .pad-0-0-10 { padding: 0 0 10px; }
  .pad-0-0-25 { padding: 0 0 25px 0; }
  .pad-10-0-0 { padding: 10px 0 0; }
  .pad-10-0 { padding: 10px 0; }
  .pad-15-0-0 { padding: 15px 0 0; }
  .pad-20 { padding: 20px; }
  .pad-25 { padding: 25px; }
  .pad-25-0 { padding: 25px 0; }
  .pad-25-0-0 { padding: 25px 0 0; }
  .pad-30 { padding: 30px; }
  .pad-35-0 { padding: 35px 0; }
  .pad-40-0-0 { padding: 40px 0 0; }
  .pad-50-0 { padding: 50px 0; }
  .pad-50-0-0 { padding: 50px 0 0; }
  .pad-50-0-25 { padding: 50px 0 25px; }
  .mar-0 { margin: 0; }